{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        /* 隐藏原生单选按钮 */
        .custom-radio .form-check-input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }


        /* 自定义椭圆形状的按钮样式 */
        .custom-radio .form-check-label {
            display: inline-block;
            padding: 10px 20px;
            font-weight: bold;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 20px; /* 生成椭圆形状 */
            background-color: #f8f9fa;
            color: #5a5c69;
            transition: all 0.3s;

        }

        /* 当原生单选按钮被选中时改变自定义按钮的样式 */
        .custom-radio .form-check-input:checked + .form-check-label {
            color: #fff;
            background-color: #4e73df;
            border-color: #4e73df;
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css' %}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">课程思政项目管理系统</h1>
                                </div>
                                <form class="user" method="post" action="{% url 'login2' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username">用户名</label>
                                        <input type="text" class="form-control form-control-user"
                                               id="username" name="username" placeholder="用户名" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">密码</label>
                                        <input type="password" class="form-control form-control-user"
                                               id="password" name="password" placeholder="Password" required>
                                    </div>

                                    <div class="d-flex justify-content-between input-group mb-2 custom-radio">
                                        <input class="form-check-input" type="radio" name="user_type" value="user"
                                               aria-label="Radio button for user" checked id="userTypeUser">
                                        <label class="input-group-text form-check-label"
                                               for="userTypeUser">普通用户</label>

                                        <input class="form-check-input" type="radio" name="user_type" value="admin"
                                               aria-label="Radio button for admin" id="userTypeAdmin">
                                        <label class="input-group-text form-check-label"
                                               for="userTypeAdmin">管理员</label>
                                    </div>
                                    {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                                <div><i class="bi bi-exclamation-triangle-fill"></i> {{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'register' %}">注册用户</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js' %}"></script>

</body>

</html>